p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 15px;
}

.description {
  font-size: large;
}