.parag {
  margin-top: 0;
}

.info-text {
  margin: 0;
}

.email-title {
  font-weight: bold;
}

.time-sent {
  font-size: small;
  color: gray;
}

.email-subject {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}

.email-body-preview {
  font-size: small;
  color: gray;
  margin-top: 2px;
  margin-right: 15px;
}

.profile-div {
  margin-right: 10px;
  height: 45px;
}

.profile-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: 57%;
  border-radius: 50%;
}

.title-div {
  font-size: small;
  color: gray;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.usertag {
  color: rgb(75, 75, 75);
  font-size: 14px;
}

.content-body{
  line-height: 1.3;
  font-size: 15px;
}

.link-url {
  color: rgb(75, 75, 75);
  font-size: 14px;
}

.video-title {
  font-size: 14px;
  line-height: 1.4;
}